@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(199, 199, 199);
    background-color: rgb(90, 90, 90)
}

.button-container {
    width: 1440px;
    height: 791px;
    display: flex;
    margin: auto;
}

#startButton {
    background-color: tomato;
    border: none;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 50%;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 40px;
    padding-left: 5px;
}

#canvas {
    display: flex;
    margin: auto;
    border: 8px solid rgb(199, 199, 199);
    border-radius: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 1440px;
    height: 791px;
    display: none;

}

.container {
    margin-top: 0px;
    padding-left: 100px;
    display: flex;
    background-color: black;
    height: 140px;
    justify-content: space-evenly;
}

.container .pad {
    display: flex;
    /* margin-left: 300px; */
    flex-direction: column;
}


.container .pad div {
    background-color: grey;
    width: 50px;
    height: 50px;
}

 #direction-up {
     /* background-color: red; */
    margin-top: 0px;
}

#direction-left {
    /* background-color: green; */
    margin-left: -50px;
    margin-top: -50px;
}

 #direction-right {
    /* background-color: hotpink; */
    margin-left: 50px;
}  

#direction-down {

}


.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu div {
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    background-color: grey;
    margin: 2px;
}

.menu-buttons-container{
    background-color: rgb(182, 182, 182);
    display: flex;
    flex-direction: row;
}

div .menu-button {
    background-color: rgb(34, 34, 34);
}


.actions {
    display: flex;
    flex-direction: column;
    /* align-content: flex-end; */
    margin-top: 40px;
}

.actions>div {
    border-radius: 2px;
    padding: 10px;
    width: 200px;
    height: 70px;
    /* background-color: grey; */
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: baseline; */
}

.action-button {
    border-radius: 5px;
    background-color: grey;
    padding: 10px;
    width: 70px;
    height: 55px;
    margin: 0px;
}

#action-button-a {
    border-radius: 50%;
    background-color: rgb(221, 17, 17);
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-top: -8px;
}

#action-button-b {
    border-radius: 50%;
    background-color: rgb(221, 17, 17);
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-top: -8px;
}




